body { 
    background-color: brown;
    text-align: center;
}
header {
    text-align: center;
    
}
.container1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}
.gameContainer {
    background-color: rgba(14, 201, 218, 0.789);
    max-width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1px;
    margin: 20px auto;
    padding: 10px;  
    border: solid blue;
    text-align: center;
}
.index {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    border: solid white;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.hoverOver {
    background-color: green;
    color: white;
    border: solid white;
}
.x {
    font-size: xx-large; 
    color:blue;
    padding: 0;
    margin: 0;
    border: solid red;
}
.o {
    font-size: xx-large; 
    color:white;
    padding: 0;
    margin: 0;
    border: solid red;
}
.scoreboard {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.currentPlayer{
    color: blue;
}